[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kawal-pemilu-scraper = {extras = ["extraction"], file = ".", editable = true}

[dev-packages]
kawal-pemilu-scraper = {path = ".", editable = true, extras = ["all"]}

[scripts]
# Helpful scripts
scrape = "python cli.py"
install-extraction = "pipenv install -e \".[extraction]\""
install-dev = "pipenv install --dev"

[requires]
python_version = "3.12"
